 @{
     Layout = "_Layout";
 }

<div class="content d-flex flex-column flex-column-fluid" id="kt_content">
	<!--begin::Container-->
	<div id="kt_content_container" class="container-xxl">
 
	</div>
	<!--end::Container-->
</div>
 